.custom-snackbar {
  background-color: #333;
  color: white;
}

.dialog-size {
  // margin: 10%;
  width: 60vw;
}

.table-size{
  width: 70%;
  margin: 20px auto
}

table {
  width: 600px;
}

.table-row {
  height: 80px !important;
}

.custom-center {
  display: flex;
  align-items: center;
  padding: 0;
}


.custom-button{
  position: relative;
  width: 170px;
  height: 40px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
}

.plus-icon {
  font-size: 18px;
  margin-right: 5px; /* Odstęp między "+" a tekstem */
}















