<div class="horizontalView">
    <div class="horizontalView__displayContent">
        <mat-sidenav-container>
            <mat-sidenav #sidenav opened mode="side" style="width: auto; ">
                <mat-nav-list style="margin-right: 5px;">
                    <a mat-list-item [routerLink]="'/definition'" style="margin-right: -5px;">
                        <div class="list-iteam">
                            <div class="circle">1</div> 
                            <div class="list-iteam__text"> DEFINITION</div>
                        </div>
                    </a>
                    <a mat-list-item [routerLink]="'/lorem-ipsum'">
                            <div class="list-iteam">
                                <div class="circle">3</div> 
                                <div class="list-iteam__text"> CHOOSEN PRODUCTS</div>
                            </div>
                    </a>
                    <a mat-list-item [routerLink]="'/lorem-ipsum'">
                        <div class="list-iteam">
                            <div class="circle">3</div> 
                            <div class="list-iteam__text"> EXCLUDE PRODUCTS</div>
                        </div>
                    </a>
                    <a mat-list-item [routerLink]="'/lorem-ipsum'">
                        <div class="list-iteam">
                            <div class="circle">4</div> 
                            <div class="list-iteam__text"> BONUM PRODUCTS</div>
                        </div>
                    </a>
                    <a mat-list-item [routerLink]="'/lorem-ipsum'">
                        <div class="list-iteam">
                            <div class="circle">5</div> 
                            <div class="list-iteam__text"> PRODUCTS LIMITS</div>
                        </div>
                    </a>
                    <a mat-list-item [routerLink]="'/lorem-ipsum'">
                        <div class="list-iteam">
                            <div class="circle">6</div> 
                            <div class="list-iteam__text"> CHOOSEN CLIENTS</div>
                        </div>
                    </a>
                    <a mat-list-item [routerLink]="'/lorem-ipsum'">
                        <div class="list-iteam">
                            <div class="circle">7</div> 
                            <div class="list-iteam__text"> EXCLUDE CLIENTS</div>
                        </div>
                    </a>
                    <a mat-list-item [routerLink]="'/lorem-ipsum'">
                        <div class="list-iteam">
                            <div class="circle">8</div> 
                            <div class="list-iteam__text"> CLIENTS LIMITS</div>
                        </div>
                    </a>
                    <a mat-list-item class=" " [routerLink]="'/summary'">
                        <div class="list-iteam">
                            <div class="circle">9</div> 
                            <div class="list-iteam__text"> SUMMARY</div>
                        </div>
                    </a>


                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="sideBarContent">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>